vendor
node_modules
.git
.gitignore
.env
.env.*
Dockerfile
docker-php.ini
docker-nginx.conf
supervisord.conf
startup.sh
.dockerignore
*.log
tests
phpunit.xml
README.md
*.md
storage
public/videos
public/storage
